name: CI

on:
  pull_request:
  push:
env:
  CARGO_TERM_COLOR: always
  CARGO_TOOLCHAIN: stable
  # Sparse cargo registry for faster updates
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.CARGO_TOOLCHAIN }}
      - uses: Swatinem/rust-cache@v2
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          version: 23.4
          include-pre-releases: false
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run cargo test (workspace, all features)
        run: cargo test --lib --workspace --all-features --no-fail-fast

  doc:
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: "-D warnings"
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.CARGO_TOOLCHAIN }}
      - uses: Swatinem/rust-cache@v2
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          version: 23.4
          include-pre-releases: false
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run cargo doc
        run: cargo doc --workspace --all-features --no-deps

  lint:
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: "-D warnings"
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.CARGO_TOOLCHAIN }}
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          version: 23.4
          include-pre-releases: false
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Check format
        run: cargo fmt --all -- --check
      - name: Run clippy (all features)
        run: cargo clippy --workspace --lib --all-features -- -D warnings
      - name: Run clippy (no default features)
        run: cargo clippy --workspace --lib --no-default-features -- -D warnings
